<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
  </configSections>

  <subscription connectionStringName="DocumentStore" />

  <connectionStrings>
    <clear />
    <add name="DocumentStore"
         connectionString="server=.\sqlexpress;database=DocumentStore;integrated security=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.RabbitMQ.RabbitMQQueueFactory, Shuttle.Esb.RabbitMQ" />
    </queueFactories>

    <messageRoutes>
      <messageRoute uri="rabbitmq://shuttle:shuttle!@localhost/content-store-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.ContentStore.Messages"/>
      </messageRoute>
    </messageRoutes>
  </serviceBus>
</configuration>