<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="opswat" type="Shuttle.ContentStore.Opswat.OpswatSection, Shuttle.ContentStore.Opswat"/>
    <section name="mcafee" type="Shuttle.ContentStore.McAfee.McAfeeSection, Shuttle.ContentStore.McAfee"/>
  </configSections>

  <connectionStrings>
    <add name="DocumentStore"
         connectionString="server=.\sqlexpress;database=DocumentStore;integrated security=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <opswat
    apiKey=""
    apiUrl="https://api.metadefender.com/v4/"
    sampleSharingAllowed="true"
    />

  <mcafee 
      url="https://127.0.0.1/php/"
      username="apiuser"
      password="apipassword"
      analyzerProfile="1"
    />
</configuration>