<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mcafee" type="Shuttle.ContentStore.McAfee.McAfeeSection, Shuttle.ContentStore.McAfee"/>
  </configSections>

  <mcafee
    url="api-url"
    username="api-username"
    password="api-password"
    analyzerProfile="analyzer-profile"
    acceptableSeverity="3"
    heartbeatInterval="00:00:10"
    pollScanInterval="00:00:15"
    sessionDuration="00:00:05"
  />
</configuration>