<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <appSettings>
    <add key="azure" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://azurite" />
  </appSettings>

  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <messageRoutes>
      <messageRoute uri="azuremq://azure/content-store-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.ContentStore.Messages"/>
      </messageRoute>
    </messageRoutes>
  </serviceBus>

  <connectionStrings>
    <clear />
    <add name="ContentStore"
         connectionString="server=host.docker.internal;database=ContentStore;user id=sa;password=Pass!000"
         providerName="System.Data.SqlClient" />
    <add 
      name="Access" 
      providerName="System.Data.SqlClient" 
      connectionString="Data Source=host.docker.internal;Initial Catalog=Access;user id=development;password=development;" />
  </connectionStrings>
</configuration>